{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<link type="text/css" rel="stylesheet" href="{% static " booth/style.css" %}" />
{% endblock %}

{% block content %}
<div id="app-visualizer">
    <!-- Navbar -->
    <b-navbar type="dark" variant="secondary">
        <b-navbar-brand tag="h1">Decide</b-navbar-brand>
    </b-navbar>

    <div class="voting container">
        <h1>[[ voting.id ]] - [[ voting.name ]]</h1>
        <h2 v-if="!voting.start_date">Votación no comenzada</h2>
        <h2 v-else-if="!voting.end_date">Votación en curso</h2>
 
                <form v-if="!voting.start_date || !voting.end_date" action="{% url 'listaCorreos' voting_id %}" method="POST">{% csrf_token %}
                    <div class="form-row">
                      <label for="card-element">
                        Correo electrónico
                  
                      </label>
                      <input class="form-control" type="email" placeholder="ejemplo@ejemplo.com" name="email">
                    </div>
                    
                    <b-button type="submit" variant="primary">
                        {% trans "Send" %}
                    </b-button>
                </form>
       
        <div v-else>
            <h2 class="heading">Resultados:</h2>
            <div v-for="quest in voting.question" :key="quest.id">
                <h2 class="heading">[[quest.desc]]</h2>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Score</th>
                                <th>Votes</th>
                            </tr>
                        </thead>
                        <tbody v-for="o in quest.options">
                                <tr v-for="opt in voting.postproc" :key="opt.option" v-if="opt.option==o.option">
                                        
                                            <th>[[opt.option]]</th>
                                            <td>[[opt.postproc]]</td>
                                            <td class="text-muted">[[opt.votes]]</td>                              
                                </tr>    
                        </tbody>
                    </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block extrabody %}
<!-- Vuejs -->
<script src="https://unpkg.com/vue@2.7.3"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script>
    var voting = {{ voting| safe}};
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-visualizer',
        data: {
            voting: voting
        }
    })
</script>
</body>
{% endblock %}